* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #191919;
    color: #FFFFFF;
}

ul {
    list-style: none;
}

header {
    min-height: 120px;
    display: flex;
    align-items: center;
    padding: 0 70px 0 70px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul a {
    text-decoration: none;
    font-size: 17px;
    color: #FFFFFF;
}

nav ul a:hover {
    color: #118DA8;
    transition: color 0.3s ease;
}

.burger-btn {
    display: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.burger-btn img {
    display: block;
}

/* main */

#main {
    margin: 40px 70px;
}

.main-block {
    display: flex;
}

.main-img-block {
    position: relative;
}

.main-img-block img {
    border-radius: 12px;
}

.main-img-block::after {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 60px;
    height: 65px;
    background-image: url('./assets/images/vector-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-info-block {
    padding: 315px 60px 130px 60px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.next-word {
    position: relative;
}

.next-word::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url('./assets/images/vector-2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.main-img-block,
.main-info-block {
    flex: 1;
}

.main-info-block h1 {
    font-size: 70px;
    letter-spacing: 3.2px;
    line-height: 88px;
    font-weight: 200;
}

.accent {
    font-size: 80px;
    font-weight: 700;
}

.music-platform-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.music-platforms ul {
    display: flex;
    gap: 15px;
}

.music-platforms a img {
    transition: transform 0.3s ease;
}

.music-platforms a:hover img {
    transform: translateY(-5px);
}

/* episodes-section */

#episodes-section {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 150px;
}

.episodes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}

.episodes-header h2 {
    font-size: 64px;
    font-weight: 200;
    letter-spacing: 2.88px;
}

.ep-btn {
    background-color: #118DA8;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 15px 20px;
    cursor: pointer;
    border: 2px solid #118DA8;

    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border 0.3s ease;
}

.ep-btn:hover {
    background-color: transparent;
    border: 2px solid #118DA8;
}

.episodes-wrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card {
    background-color: #000;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    gap: 50px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card label {
    background-color: #191919;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    font-size: 18px;
}

.card span {
    color: #118DA8;
    font-size: 17px;
}

.card h2 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 2.56px;
}

.card p {
    color: #FFFFFF;
    opacity: 70%;
    font-size: 22px;
    font-weight: 200;
}

/* host-section */

#host-section {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.host-wrapper {
    display: flex;
    gap: 60px;
}

.host-link {
    background-color: #118DA8;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.host-link:hover {
    transform: rotate(90deg);
}

.host-wrapper-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.host-wrapper-info span {
    color: #118DA8;
    font-size: 18px;
}

.host-wrapper-info h2 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 2.88px;
}

.host-wrapper-info p {
    color: #FFFFFF;
    opacity: 70%;
    font-size: 22px;
}

.host-wrapper-img img {
    border-radius: 12%;
}

/* subscribe-section */

#subscribe-section {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.subscribe-container {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 30px;
    padding: 60px;
}

#subscribe-section::after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-image: url('./assets/images/vector-3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.sub-container-info,
.sub-container-form-block {
    flex: 1;
}

.sub-container-info {
    display: flex;
    flex-direction: column;
}

.sub-container-info span {
    color: #118DA8;
    font-size: 18px;
}

.sub-container-info h2 {
    font-size: 72px;
    font-weight: 200;
    letter-spacing: 2.80px;
}

.sub-container-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-container-form input {
    background-color: #191919;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #FFFFFF;
    opacity: 70%;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: border-color 0.5s ease;
}

.sub-container-form input:focus {
    border-color: #454444;
    outline: none;
}

.sub-container-form button {
    align-self: flex-start;
}

/* review-section */

#review-section {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.review-block {
    background-color: #000000;
    border-radius: 30px;
    flex: 1 1 30%;
    padding: 50px;
}

.review-block h2 {
    font-size: 36px;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.review-block span {
    font-size: 24px;
    font-weight: 100;
    color: #FFFFFF;
    opacity: 70%;
}

/* footer */

footer {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-wrapper {
    display: flex;
}

.foot-castaway {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot-social {
    display: flex;
    gap: 15px;
}

.foot-social a img {
    transition: transform 0.3s ease;
}

.foot-social a:hover img {
    transform: translateY(-5px);
}

.foot-navi {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex: 1;
    font-size: 17px;
    gap: 10px;
}

.foot-navi a {
    text-decoration: none;
    color: #FFFFFF;
}

.foot-navi a:hover {
    color: #118DA8;
    transition: color 0.3s ease;
}

.foot-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex: 1;
    font-size: 17px;
    gap: 10px;
}

.foot-links a {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.foot-links a:hover {
    color: #118DA8;
}

.foot-platforms {
    flex: 2;
}

.foot-platforms ul {
    display: flex;
    gap: 15px;
}

.foot-platforms a img {
    transition: transform 0.3s ease;
}

.foot-platforms a:hover img {
    transform: translateY(-5px);
}


/* TABLET 768px*/

@media screen and (max-width: 768px) {
    header {
        padding: 0 50px;
        min-height: 80px;
    }

    .nav-menu {
        display: none;
    }

    .burger-btn {
        display: block;
    }

    .main-block {
        flex-direction: column;
    }

    .main-img-block {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .main-img-block img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .main-info-block {
        padding: 50px 0px;
    }

    #episodes-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .episodes-header {
        padding-left: 40px;
        flex-direction: column;
        align-items: start;
        gap: 20px
    }

    .card {
        flex-direction: column;
    }

    .card-info {
        gap: 25px;
    }

    .host-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .host-wrapper-img {
        order: 1;
    }

    .host-wrapper-info {
        order: 2;
    }

    .host-wrapper-img img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    #subscribe-section {
        padding: 20px;
    }

    .subscribe-container {
        flex-direction: column;
    }

    .sub-container-info {
        padding-bottom: 70px;
    }

    #subscribe-section::after {
        left: auto;
        right: 25px;
        bottom: -25px;
        top: auto;

        transform: scaleX(-1);
    }

    #review-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .reviews-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .review-block {
        height: 100%;
    }

    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
        align-items: start;
    }

    .foot-castaway {
        grid-column: 1 / -1;
    }
}

/* MOBILE 576px */

@media screen and (max-width: 576px){
    .main-info-block {
        font-size: 40px;
    }

    .episodes-header {
        padding-top: 10px;
        font-size: 38px;
    }

    .card-info p {
        font-size: 20px;
    }

    .host-link img {
        max-width: 100px;
        max-height: 100px;
    }

    .reviews-wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }
}