* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #191919;
    color: #FFFFFF;
}

ul {
    list-style: none;
}

header {
    min-height: 120px;
    display: flex;
    align-items: center;
    padding: 0 70px 0 70px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #FFFFFF;
    gap: 40px;
    cursor: pointer;
}

/* main */

.main {
    margin: 40px 70px;
}

.main-block {
    display: flex;
}

.main-img-block img {
    border-radius: 12px;
}

.main-info-block {
    padding: 315px 60px 130px 60px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.main-img-block,
.main-info-block {
    flex: 1;
}

.main-info-block h1 {
    font-size: 70px;
    letter-spacing: 3.2px;
    line-height: 88px;
    font-weight: 200;
}

.accent {
    font-size: 80px;
    font-weight: 700;
}

.music-platform-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.music-platforms ul {
    display: flex;
    gap: 15px;
}

/* episodes-section */

.episodes-section {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 150px;
}

.episodes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}

.episodes-header h2 {
    font-size: 64px;
    font-weight: 200;
    letter-spacing: 2.88px;
}

.ep-btn {
    background-color: #118DA8;
    color: #FFFFFF;
    border-radius: 6px;
    padding:  15px 20px;
    cursor: pointer;
    border: none;
}

.episodes-wrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card {
    background-color: #000;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    gap: 50px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card label {
    background-color: #191919;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    font-size: 18px;
}

.card span {
    color: #118DA8;
    font-size: 17px;
}

.card h2 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 2.56px;
}

.card p {
    color: #FFFFFF;
    opacity: 70%;
    font-size: 22px;
    font-weight: 200;
}

/* host-section */

.host-section {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.host-wrapper {
    display: flex;
    gap: 60px;
}

.host-link {
    background-color: #118DA8;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.host-wrapper-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.host-wrapper-info span {
    color: #118DA8;
    font-size: 18px;
}

.host-wrapper-info h2 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 2.88px;
}

.host-wrapper-info p {
    color: #FFFFFF;
    opacity: 70%;
    font-size: 22px;
}

.host-wrapper-img img {
    border-radius: 12%;
}

/* subscribe-section */

.subscribe-section {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.subscribe-container {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 30px;
    padding: 60px;
}

.sub-container-info,
.sub-container-form-block {
    flex: 1;
}

.sub-container-info {
    display: flex;
    flex-direction: column;
}

.sub-container-info span {
    color: #118DA8;
    font-size: 18px;
}

.sub-container-info h2 {
    font-size: 72px;
    font-weight: 200;
    letter-spacing: 2.80px;
}

.sub-container-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-container-form input {
    background-color: #191919;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    opacity: 70%;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sub-container-form button {
    align-self: flex-start;
}